
<div style="text-align:center;margin-bottom:60px">
  <h1 style="font-weight:bold;font-size:80px">WebRTC FaceChat</h1>
</div>
<div class="row" style="text-align:center">
  <div id="local" class="col-sm-6">
    <video id="local_video" autoplay muted></video>
    <p id="username" style="font-weight:bold;font-size:40px"></p>
    <label for="message">Message</label>
    <input id="message" type="text">
    <button id="sendMessage" style="font-weight:bold">SEND</button>
    <div id="receiveBox" style="font-size:20px;font-weight:bold"></div>
  </div>
  <div class="col-sm-6">
    <div id="received_video"></div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/chatclient.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

